.requestModal {
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    height: 50%;
    width: 50%;

    &-modal_content {
        background-color: white;
        position: absolute;
        display: flex;
        flex-direction: column;

        &-title {

        }

        &-full-name {

        }

        &-full-name-error {
            color: red;
            visibility: hidden;
        }

        &-email {

        }

        &-email-error {
            color: red;
            visibility: hidden;
        }

        &-confirm-email {

        }

        &-confirm-email-error {
            color: red;
            visibility: hidden;
        }
    }
}

.text-input-invalid {
    border: 2px solid red;
}

.show-invalid-error-message {
    visibility: visible;
}